channels:
  - chrisroadmap
  - claut
  - conda-forge
  - nodefaults
dependencies:
  # for jupyter-desktop-server
  - websockify

  - networkx==3.5.*
  - nltk==3.9.*
  - libsqlite
  - sqlite
  - spacy==3.8.*
  - geopandas==1.1.*
  - geopy==2.4.*

  # From https://github.com/utoronto-2i2c/jupyterhub-deploy/issues/29
  - astroquery==0.4.*
  - astropy==7.1.*
  - galpy==1.11.*
  - libgfortran==15.1.0

  # Infrastructure things
  - nbgitpuller==1.2.*
  - nbconvert-webpdf
  - playwright==1.54.0
  - playwright-python==1.54.0
  - jupyter-resource-usage==1.1*
  - jupytext==1.16.*
  - jupyter-server-proxy>=4.4.0,4.*

  # From https://2i2c.freshdesk.com/a/tickets/497
  - contextily==1.6.*
  - libpysal==4.12.*
  - esda==2.7.*
  - splot==1.1.*
  - xlrd==2.0.*
  - numba==0.61.*

  # python-graphviz installed on request by Scott Schwartz in
  # https://2i2c.freshdesk.com/a/tickets/697?note=80283596987
  - python-graphviz==0.21.*

  - tensorflow==2.18.*
  # From https://2i2c.freshdesk.com/a/tickets/1259
  - tensorflow-probability==0.25.*

  - jax

  # From https://2i2c.freshdesk.com/a/tickets/1259
  - pymc==5.25.*

  - jupyter-remote-desktop-proxy==3.*

  - datascience==0.17.*
  - otter-grader==5.*

  # From https://2i2c.freshdesk.com/a/tickets/4003
  - louvain==0.8.*

  # From https://2i2c.freshdesk.com/a/tickets/4462
  - scipy==1.16.*
  - xarray==2025.9.*
  - pandas==2.3.*
  - numpy==2.2.*
  - zarr==3.1.*
  - esgf-pyclient==0.3.*
  - gcsfs==2025.10.*
  - matplotlib==3.10.*
  - netcdf4==1.7.*
  - requests==2.32.*
  - climlab==0.9.*
  - statsmodels==0.14.*
  - cartopy==0.25.*
  # From chrisroadmap channel
  - fair==1.6.*
  # From claut channel
  - ec3==2.2.*
  # Explicitly request JupyterLab
  - jupyterlab==4.*

  - torchinfo==1.8.*
  - torchmetrics==1.8.*
  - torchvision==0.24.*
  - pytorch==2.8.*

  - pip

  - pip:
      # Infrastructure things that don't exist in conda-forge
      - git-credential-helpers==0.2
      - jupyter-tree-download==1.0.1

      # Bump up jupyterhub and nbclassic explicitly to handle https://github.com/jupyterhub/jupyterhub/issues/4629
      - jupyterhub==5.3.*
      - nbclassic==1.3.*
      ### Add nbclassic extensions
      # Infrastructure thing that doesn't support notebook 7
      - jupyter_contrib_nbextensions==0.7.0
      # nbextensions
      - jupyterthemes==0.20.0
      - markus-jupyter-extension==0.1.4

      # Install from pip because the conda-forge feedstock appears abandoned
      # From https://2i2c.freshdesk.com/a/tickets/187
      - textblob==0.19.*

      # Install from pip because it does not work from conda-forge atm
      # https://github.com/conda-forge/rise-feedstock/issues/43 has information
      - RISE==5.7.*

      # Added as part of a support request (TBA freshdesk link)
      # From https://2i2c.freshdesk.com/a/tickets/1783
      - kaleido==1.*
